h1 {
    color: #bea9a9; 
    font-size: 24pt; 
    font-family: Georgia, Verdana, Tahoma, sans-serif;
    font-weight: normal; 
  }
  p {
    text-align: justify; 
    margin-left: 60px; 
    margin-right: 10px; 
    border-left: 1px solid #999; 
    border-bottom: 1px solid #999; 
    padding-left: 10px; 
    padding-bottom: 10px; 
  }

  label {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }

  p {
    background: #696cb3;
    border: 1px solid rgb(60, 91, 246);
   color: #ffffff;
    padding: 5px;
    border-radius: 5px;
  }

  